<!DOCTYPE html>
<html lang="Pt-Br">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Finanças | APP</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <!-- My CSS -->
  <link rel="stylesheet" href="../assets/css/globals.css">
  <script type="module" src="../assets/js/finances.js" defer></script>
</head>

<body class="dark:bg-zinc-900 dark:text-white">
  <header class="bg-sky-200 dark:bg-sky-600">
    <nav class="flex justify-between px-10 h-24 max-w-7xl mx-auto items-center dark:text-white">
      <img src="../assets/img/money-svgrepo-com.svg" class="h-12 rounded-full" alt="" id="logo" />
      <ul class="flex gap-3">
        <li class="hover:underline">
          <a href="/views/dashboard.html">Home</a>
        </li>
        <li class="hover:underline">
          <a href="/views/finances.html">Movimentações</a>
        </li>
        <li class="hover:underline">
          <a href="/views/settings.html">Configurações</a>
        </li>
        <li class="hover:underline">
          <a href="../index.html">Sair</a>
        </li>
      </ul>
    </nav>
  </header>
  <main class="px-5 max-w-7xl mx-auto py-3">
    <h2 class="font-medium text-3xl my-5">Configurações</h2>
  </main>
</body>

</html>